<h1 class="text-center">add new post (up to 5 posts per batch)</h1>
<%= simple_form_for [@batch, @post], remote: true do |f| %>
  <%= f.input :greeting %>
  <%= f.input :headline %>
  <%= f.input :giphy_url %>
  <%= f.input :box1 %>
  <%= f.input :box2 %>
  <%= f.input :box3 %>
  <%= f.input :box3_url %>
  <%= f.input :box4 %>
  <%= f.submit "Create" %>
<% end %>
